body {
    max-width: 100%;
    margin: 0;
    border: 6px solid #9E1981;
    padding: 0.8em;
    padding-top: 0;
    font-family: sans-serif;
    font-size: 1em;
}

/*header*/

header {
    /*    position: fixed;*/
    width: 100%;
    height: 2.8em;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
    display: flex;
    padding-bottom: 0.5em;
}

img[alt="terug"] {
    margin: 0.8em 0;
    padding: 0;
    float: right;
    height: 1.6em;
    width: 1em;
}

nav {
    width: 100%;
    font-size: 0.7em;
}

ul {
    padding: 0;
}

li {
    display: inline;
    text-decoration: none;
    margin: 2% 2% 5% 2%;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

a[href="index.html"] {
    margin-left: 0;
    padding-left: 0;
    width: 2em;
}

img {
    width: 10%;
}

/*Formulier*/

form {
    width: 90%;
    padding: 5%;
    border: 1px solid black;
    margin: auto;
    margin-top: 2em;
}

fieldset {
    /*    border: 1px solid black ;*/
    border: none;
    padding: 0.3em 0;
}

legend {
    font-size: 1.3em;
    margin-bottom: 0.3em;
}


[type="checkbox"] {
    margin-right: 0.7em;
    padding: 1em;
}

label {
    display: block;
    margin-bottom: 0.8em;
    cursor: pointer;
    font-size: 1em;
    transition: 250ms;
}

label:hover,
label:focus {
    font-weight: bold;
}

input [type="range"] {
    margin: 0.1em;
    display: block;
    width: 80%;
}

input#leesduurF {
    width: 80%;
    margin-bottom: 2em;
}

[id="slider"] {
    font-size: 0;
    margin-top: 1em;
}


button[type="submit"] {
    font-size: 1em;
    color: white;
    padding: 0.4em 1em;
    border: 0.1em solid #9E1981;
    background: #9E1981;
    transition: all 0.5s;
    margin: auto;
}

button:hover,
button:focus {
    border: 0.1em solid #9E1981;
    background: white;
    color: #9E1981;
    transition: all 500ms;
}

/*section*/

article {
    border: 1px solid grey;
    width: 90%;
    font-size: 1em;
    padding: 5%;
    margin: auto;
    background-color: #FAFAFA;
    margin-bottom: 1.1em;
}

h1 {
    font-size: 0em;
}

h2 {
    font-size: 1.2em;
    margin-left: 0;
    padding-right: auto;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 0.3em;
}

[id="titel"] {
    width: 100%;
    margin-left: 0.5em;
    margin-top: 0.7em;
    margin-bottom: 0.4em;

}

h3 {
    font-size: 1.3em;
    color: #9E1981;
    margin-bottom: 0;
    margin-top: 0.3em;
    font-weight: 500;
    display: block;
}

h4 {
    margin: auto;
    font-size: 0.8em;
    font-family: inherit;
    color: #9E1981;
    width: 30%;
    display: inline;
}

img[class="artikel"] {
    width: 100%;
    /*    border: 0.5px solid grey;*/
}

img[class="vijf"] {
    float: right;
    margin: 0 0 0.7em 0.2em;
    width: 1em;
}

img[class="ster"] {
    float: right;
    margin: 0 0 0.7em 0.2em;
    width: 1em;
}

p {
    font-size: 0.8em;
    margin-top: 0;
}

/*mobiel verhaal*/

img[alt="mobileverhaal"] {
    width: 80%;
    margin: 0.9em 2em;
}

img[alt="desktopverhaal"] {
    width: 0;
}

img[alt="tabletverhaal"] {
    width: 0;
}

/*tablet*/

@media (min-width: 30em) {

    body {
        width: auto;
    }
    /*    alle artikelen in een grid gooien*/
    main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 4em 1fr 1fr 1fr;
    }

    [id="nul"] {
        width: 45%;
    }
    [id="een"] {
        grid-column: 1/3;
        grid-row: 2/2;
    }
    [id="twee"] {
        grid-column: 3/5;
    }
    [id="drie"] {
        grid-column: 1/3;
    }
    [id="vier"] {
        grid-column: 3/5;
    }
    [id="vijf"] {
        grid-column: 1/3;
    }
    [id="zes"] {
        grid-column: 3/5;
    }

    /*    algemene opmaak*/
    header {
        /*    position: fixed;*/
        width: 100%;
        height: 6.5em;
        border-bottom: 1px solid black;
        padding: 0;
        padding-top: 0;
    }

    nav {
        width: 100%;
        height: 60%;
        font-size: 1em;
    }

    li {
        margin: 4%;
    }

    h2 {
        font-size: 1.2em;
        margin: 1%;
        margin-top: 1em;
        grid-column: 1/5;
    }
    [id="titel"] {
        margin-left: 2em;
    }

    section > header {
        height: 3em;
        margin-bottom: 0.8em;
    }

    article {
        width: 90%;
        border: 1px solid grey;
        font-size: 1em;
        padding: 0.5em;
        margin: 0.5em;
        background-color: #FAFAFA;
        margin-bottom: 1em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 0.8em;
        margin-top: 1em;
    }

    p {
        font-size: 0.8em;
    }
    /*Formulier*/
    form {
        font-size: 1.2em;
        width: 45%;
        padding: 1.2em;
        margin: auto;
        margin-top: 2em;
        margin-left: 0;
        margin-right: 0;
        grid-column: 1/2;
    }

    fieldset {
        border: none;
        padding: 0.3em 0;
    }

    legend {
        font-size: 1.4em;
        color: #9E1981;
        font-weight: 500;
        margin-bottom: 0.6em;
        margin-top: 1em;
    }

    [type="checkbox"] {
        margin-right: 0.7em;
        padding: 1em;
    }

    label {
        display: block;
        margin-bottom: 0.8em;
        cursor: pointer;
        font-size: 1em;
        transition: 250ms;
    }

    label:hover,
    label:focus {
        font-weight: bold;
    }

    input [type="range"] {
        margin: 0.1em;
        display: block;
        width: 100%;
        margin-bottom: 2em;
    }

    [id="slider"] {
        margin-top: 1em;
        font-size: 0;
    }

    button[type="submit"] {
        font-size: 1em;
        color: white;
        padding: 0.4em 1em;
        border: 0.1em solid #9E1981;
        background: #9E1981;
        transition: all 0.5s;
        margin: 0.8em 0 0em 0;
    }

    button:hover,
    button:focus {
        border: 0.1em solid #9E1981;
        background: white;
        color: #9E1981;
        transition: all 500ms;
    }

    /*tablet verhaal*/
    img[alt="mobileverhaal"] {
        width: 0;
    }
    img[alt="desktopverhaal"] {
        width: 0;
    }

    img[alt="tabletverhaal"] {
        width: 80%;
        margin: 0 4.5em;
    }
}

/*screen and*/

/*desktop*/

@media (min-width: 900px) {

    /*   poging tot een algemeen grid maken,werkt niet*/
    /*
    body {
        grid-column: repeat(6 1fr);
    }
*/
    /*   alle verhalen in een grid gooien*/
    main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 9em 1fr 1fr;
    }
    [id="nul"] {
        width: 40%;
    }
    [id="een"] {
        grid-column: 1/1;
        grid-row: 2/2;
    }
    [id="twee"] {
        grid-column: 2/2;
    }
    [id="drie"] {
        grid-column: 3/3;
    }
    [id="vier"] {
        grid-column: 1/1;
    }
    [id="vijf"] {
        grid-column: 2/2;
    }
    [id="zes"] {
        grid-column: 3/3;
    }


    /*algemene opmaak*/
    header {
        /*    position: fixed;*/
        width: 100%;
        height: 8em;
        border-bottom: 1px solid black;
        padding: 0;
        margin: 0;
        display: flex;
        padding-top: 1em;
    }

    nav {
        width: 100%;
        height: 80%;
        font-size: 3em;
        margin: 0;
        padding-bottom: 0;
    }

    ul {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    li {
        display: inline;
        text-decoration: none;
        margin: 6%;
        list-style: none;
        margin-top: 0;
    }

    a {
        color: black;
        text-decoration: none;
        color: #9E1981;
        font-weight: 800;
        list-style: none;
    }
        [id="titel"] {
        margin-left: 2em;
    }

    section > header {
        height: 7em;
        margin-bottom: 1em;
    }
    img[alt="terug"] {
    margin: 1em ;
    float: left;
    height: 4em;
    width: 3em;
}

    img {
        height: 110%;
        width: auto;
    }

    /*Formulier*/
    form {
        font-size: 1.2em;
        width: 27%;
        padding: 2em;
        border: 1px solid black;
        margin: auto;
        margin-top: 7em;
        margin-left: 0;
        grid-column: 1/2;
    }
    [id="recommended"] {
        grid-column: 3/6;
    }

    fieldset {
        border: none;
        padding: 0.3em 0;
    }

    legend {
        font-size: 3.5em;
        color: #9E1981;
        font-weight: 500;
        margin-bottom: 0.6em;
        margin-top: 1em;
    }

    [type="checkbox"] {
        margin-right: 0.7em;
        padding: 1em;
        width: 1em;
        height: 1em;
    }

    [type="radio"] {
        width: 2em;
        height: 2em;
    }

    label {
        display: block;
        margin-bottom: 0.8em;
        cursor: pointer;
        font-size: 2.8em;
        transition: 250ms;
    }

    label:hover,
    label:focus {
        font-weight: bold;
    }

    input [type="range"] {
        margin: 0.1em;
        display: block;
        width: 8em;
        height: 4em;
        margin-bottom: 2em;
    }

    [id="slider"] {
        margin-top: 1em;
        font-size: 0;
    }

    button[type="submit"] {
        font-size: 3em;
        color: white;
        padding: 0.4em 1em;
        border: 0.1em solid #9E1981;
        background: #9E1981;
        transition: all 0.5s;
        margin: 0.8em 0 0.4em 0;
    }

    button:hover,
    button:focus {
        border: 0.1em solid #9E1981;
        background: white;
        color: #9E1981;
        transition: all 500ms;
    }

    h2 {
        font-size: 5em;
        margin: 1%;
        margin-top: 1em;
    }
      [id="titel"] {
        margin-left: 2em;
        font-size: 3.5em;
    }

    [id="alle verhalen"] {
        grid-column: 1/3;
    }

    article {
        width: 90%;
        border: 1px solid grey;
        font-size: 2em;
        padding: 0.8em;
        margin: 0.8em;
        background-color: #FAFAFA;
        margin-bottom: 1.2em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.2em;
        margin-top: 1em;
    }

    p {
        font-size: 0;
    }
    /*desktop verhaal*/
    img[alt="mobileverhaal"] {
        width: 0;
    }
    img[alt="desktopverhaal"] {
        width: 75%;
        margin: 0 10%;
    }

    img[alt="tabletverhaal"] {
        width: 0;

    }
}
